.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	inset: 0;
	background-color: white;
	width: 40%;
	border-radius: 8px;

	h1 {
		color: red;
		font-weight: bold;
		padding: 5px;
	}
}
